{
  "auths": {
    "cloud.openshift.com": {
      "auth": "YWRtaW46Y2hhbmdlbWU=",
      "email": "admin@email.com"
    },
    "quay.io": {
      "auth": "YWRtaW46Y2hhbmdlbWU=",
      "email": "admin@redhat.com"
    },
    "registry.connect.redhat.com": {
      "auth": "YWRtaW46Y2hhbmdlbWU=",
      "email": "admin@email.com"
    },
    "registry.redhat.io": {
      "auth": "YWRtaW46Y2hhbmdlbWU=",
      "email": "admin@email.com"
    },
    "helper.ocp4.example.com:5000": {
      "auth": "YWRtaW46Y2hhbmdlbWU=",
      "email": "admin@email.com"
    }
  }
}
